li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    list-style: none;
    padding: 10px;
    // box-sizing: border-box;
    border: 1px solid #fff;
    margin-bottom: 16px;
    cursor: pointer;

    h1 {
        color: #fff;
        font-size: 20px;
    }
}

li.done {
    border: 1px solid green;
}