input {
    width: 300px;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    margin-bottom: 20px;
    background: #171711;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}