body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #171711;

    h1 {
        font-size: 25px;
        color: #fff;
    }
}